
/* Your CSS Code here. */
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }
        nav {
            background-color: #444;
            color: #fff;
            text-align: center;
            padding: 0.5rem;
        }
        nav a{
            background-color: #444;
            color: #fff;
            text-align: center;
            padding: 0.5rem;
        }
        section {
            padding: 2rem;
        }
        aside {
            background-color: #f9f9f9;
            padding: 1rem;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1rem;
        }